[submodule "opencad/external/sam3d"]
	path = opencad/external/sam3d
	url = https://github.com/Pointcept/SegmentAnything3D.git
[submodule "ElmerFEM"]
	path = ElmerFEM
	url = https://github.com/ElmerCSC/elmerfem.git
[submodule "OpenFOAM"]
	path = OpenFOAM
	url = https://github.com/OpenFOAM/OpenFOAM-dev.git
[submodule "OpenFOAM-13"]
	path = OpenFOAM-13
	url = https://github.com/OpenFOAM/OpenFOAM-13.git
[submodule "CalculiX"]
	path = CalculiX
	url = https://github.com/Dhondtguido/CalculiX.git
